<div class="adminHeader">
    <div class="back" (click)="back()"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>

    <div class="addProduct" (click)="route('addProduct')" [ngClass]="{'active': subPage === 'addProduct'}">Add Product
    </div>
    <div class="deleteProduct" (click)="route('deleteProduct')" [ngClass]="{'active': subPage === 'deleteProduct'}">
        Delete Product
    </div>
</div>

<div>
    <app-add-product *ngIf="subPage === 'addProduct'"></app-add-product>
    <app-delete-product *ngIf="subPage === 'deleteProduct'"></app-delete-product>
</div>