@import "../../home/home/home.component.scss";

#deleteProduct {
    form {
        margin: 1rem 10rem;

        select,
        option {
            width: 100%;
        }

        .deleteBtn {
            width: 10rem;
        }
    }
}
