<div id="product" class="row">

    <div class="col-12 cardBlock searchFilter">
        <div class="search" *ngIf="selectedCategory.length > 0">
            <label>Search: </label>
            <input id="productSearch" type="text" placeholder="Search" [(ngModel)]="query">
        </div>

        <div class="filter">
            <label>Category: </label>
            <ng-select bindLabel="name" placeholder="Select Category" [multiple]="true" [closeOnSelect]="false"
                [searchable]="true" [clearable]="false" [(ngModel)]="selectedCategory">
                <ng-option *ngFor="let product of productCategories" [value]="product">
                    {{product | titlecase}} </ng-option>
            </ng-select>
        </div>
    </div>

    <div class="note" *ngIf="selectedCategory.length === 0">
        <h1>Please Select atleast one Category for viewing Product</h1>
    </div>

    <app-card class="col-12 col-sm-12 col-md-6 cardBlock" [product]="product"
        *ngFor="let product of products | search: query | categoryFilter: selectedCategory"></app-card>


    <div class="form-group col-12 text-center cardBlock" *ngIf="products.length !== allProducts.length">
        <div class="loadMoreProdDiv" (click)="loadMoreProducts()">
            Load More<br />
            <!-- <i class="fa fa-plus-square"></i> -->
            <i class="fa fa-plus"></i>
        </div>
    </div>

</div>