@import "../../../../assets/styles/common.scss";

#product {
    .note {
        text-align: center;
        margin-top: 5rem;
    }

    .searchFilter {
        display: flex;
        justify-content: flex-end;

        .search,
        .filter {
            display: flex;
            padding: 0 1%;

            #productSearch {
                border-radius: 4px;
                border: 1px solid #d9d9d9;
                background: lightgrey;
            }

            label {
                padding: 2%;
            }
        }

        ::ng-deep .ng-select {
            .ng-arrow-wrapper .ng-arrow {
                height: 10px;
                width: 10px;
            }

            .ng-value-container .ng-value {
                display: none;
            }

            .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
                font-weight: 900;
            }
        }
    }

    .cardBlock {
        padding: 1rem;
    }

    .loadMoreProdDiv {
        box-shadow: 1px 1px 5px 1px grey;
        border: 0;
        width: 50%;
        padding: 5%;
        margin: auto;
        cursor: pointer;
        font-size: 5vh;
        span,
        .fa {
            font-size: 20vh;
        }
    }
}

/************************ Responsive St ************************/

@media (min-width: $mobile_large) and (max-width: $tablet) {
    #product {
        .cardBlock {
            font-size: 0.75rem;
        }
    }
}

@media only screen and (max-width: $mobile) {
    #product {
        .cardBlock {
            display: block;
            // font-size: 0.75rem;
        }

        .searchFilter{
            .search, .filter{
                justify-content: flex-end;
                padding-top: 1%;
            }
        } 
    }
}

/************************ Responsive Ed ************************/
