@import "../../../../assets/styles/common.scss";

#login,
#addProduct,
#deleteProduct {
    display: flex;
    justify-content: center;

    form {
        margin-top: 5%;
        padding: 1rem;
        box-shadow: 1px 1px 5px 1px grey;

        .formItem {
            padding: 1rem;
        }

        .sendBtn,
        .cancelBtn {
            width: 10rem;
            margin-left: 1rem;
            float: right;
        }

        .alert-danger {
            margin: 0.25rem 0 0;
            padding: 0.5rem 1rem;
        }

        #password {
            margin-right: 1%;
        }
    }
}

/************************ Responsive St ************************/

@media only screen and (max-width: $mobile) {
    #login {
        form {
            .sendBtn {
                width: auto;
                padding: 1% 10%;
            }
        }
    }
}

/************************ Responsive Ed ************************/
