<div id="login" class="row">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">

        <div class="formItem col-12">
            <h1 class="text-center">Hello User!</h1>
        </div>

        <div class="formItem col-12">
            <label for="userName" class="col-5">UserName: </label>
            <input id="userName" class="col-7" type="text" formControlName="userName">
            <div class="alert alert-danger"
                *ngIf="loginForm.get('userName')?.invalid && loginForm.get('userName')?.touched">
                *Please provide a userName.
            </div>
        </div>

        <div class="formItem col-12">
            <label for="password" class="col-5">Password: </label>
            <input id="password" class="col-7" type="password" formControlName="password">
            <div class="alert alert-danger"
                *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                *Please provide a password.
            </div>
        </div>

        <div class="formItem col-12">
            <button type="submit" class="btn btn-primary sendBtn" [disabled]="loginForm.invalid">Login</button>
        </div>

    </form>
</div>

<!-- <div class="center">
    <div>
        <div class="heading">Hello User!</div><br />

        <div class="userButtonBlock">
            <button (click)="setUserAndNavigate('customer')" type="button">Customer</button>
            <button (click)="setUserAndNavigate('admin')" type="button">Admin</button>
        </div>
    </div>
</div> -->