<div class="card row h-100">
    <div class="heading col-12">{{product.title | uppercase}}</div>

    <div class="col-12 col-sm-6 prodDetail">
        <div class="price"><b>Price:</b> {{product.price | currency}}</div>

        <div class="rating"><b>Rating: </b> <span [outerHTML]="product.rating.rate | rating"></span>
            ({{product.rating.count}})</div>

        <div class="category"><b>Category:</b> {{product.category | titlecase }}</div>

        <div class="description"><b>Description:</b> <br />{{product.description}}</div>
    </div>

    <div class="col-12 col-sm-6 prodImgBlock">
        <img class="prodImg" alt="product.image" [src]="product.image" />
    </div>

</div>