@import "../../../../assets/styles/common.scss";

#feedback {
    display: flex;
    justify-content: center;

    form {
        margin-top: 5%;
        padding: 1rem;
        box-shadow: 1px 1px 5px 1px grey;

        .form-group {
            padding: 1rem;
        }

        .submitBtn {
            text-align: right;
        }

        .error {
            color: red;
        }
    }

    .thanksMsg {
        margin-top: 10rem;
    }
}
